@charset "utf-8";
@import url(./utils.css);
@import url(./root.css);

html {
  font-family: 'Nunito Sans', 'Fira Sans', Arial, sans-serif;
}

body {
  background-color: var(--app-color-light-bg);
  
}

.dark-mode {
  color: #d6d6d6;
  background-color: var(--app-color-dark-bg);
  
  .hero-banner::before {
    position: absolute;
    inset: 0 auto auto 0;
    width: 100%;
    height: 150svh;
    content: "";
    background-color: rgb(0 0 0 / 50%);
    z-index: -1;
  }

  .button-fixed {
    background-color: #d6d6d6;
    color: #daa520;
    
    .fa-solid {
      color: #daa520;
    }
  }

  .fa-solid {
    color:#daa520;
  }

  nav {
    a{
      background-color: rgb(0 0 0 / 50%);
      color: #d6d6d6;
    }
  }

  .button {
    background-color: #d6d6d6;

    .fa-solid {
      color:#daa520;
    }
  }

  .banner-content {
    color: #d6d6d6;
  }

  .banner-text, footer {
    background-image:
    linear-gradient(to bottom right, 
      rgb(56 63 86 / 80%), 
      rgb(66 74 101 / 80%), 
      rgb(86 97 132 / 80%) 
      );
  }

  .intouch-button {
    background-color: #e03e6f;
  }

  .intouch-button:hover {
    background-color:#e875ba;
  }

  .divider-color {
    background-color: #16122f;
  }

  .section-wrapper {
    background-color: #16122f;
  }
  
  .about, .experience {
    h3 {
    color: #cfc9eb;
    text-shadow: 1px 1px 1px #8f82d1,
        1px 2px 1px #8f82d1,
        1px 3px 1px #8f82d1,
        1px 4px 1px #8f82d1,
        1px 5px 1px #8f82d1,
        1px 6px 1px #8f82d1,
        1px 7px 1px #8f82d1,
        1px 8px 1px #8f82d1,
        1px 9px 1px #8f82d1,
        1px 10px 1px #8f82d1,
    1px 18px 6px rgba(150,150,150,0.4),
    1px 22px 10px rgba(150,150,150,0.2),
    1px 25px 35px rgba(150,150,150,0.2),
    1px 30px 60px rgba(150,150,150,0.4);
    }
  }

  
  .brief-bio, .languages {
    background-image: 
    linear-gradient(to bottom right, 
    rgb(63 63 139 / 80%),
    rgb(78 59 190 / 80%),
    rgb(131 151 222 / 80%));
  }
  .cats, .cooking {
    background-image: 
    linear-gradient(to top left, 
    rgb(63 63 139 / 80%),
    rgb(78 59 190 / 80%),
    rgb(131 151 222 / 80%));
  }

  .food {
    background-image: 
    linear-gradient(to left, 
    rgb(63 63 139 / 80%),
    rgb(78 59 190 / 80%),
    rgb(131 151 222 / 80%));
  }

.img {
  filter: drop-shadow(0px 0px 1px rgb(255 255 255 / 50%));
}
  .link a {
    color: #e6e6e6;
  }
  .icons{
    
    .fa-linkedin:hover {
      filter: contrast(80%);
    }
    .fa-github:hover {
      filter: contrast(100%);
    }
  }

}

.button-fixed {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  z-index: 100;
  cursor: pointer;
  
  .fa-solid {
    position: relative;
    font-size: 20px;
    color: white;
  }
}

.button-fixed-fixed {
  inset: auto 20px 20px auto;
  transition: all 0.15s ease-out;
}

.button-sticky-bottom {
  inset: auto 20px 90px auto;
  transition: all 0.25s;
}


/* ------------------------------------------------ */
/* ---------         HEADER          -------------- */
/* ------------------------------------------------ */
header {
  height: 50px;
  /* background-color: rgb(0 0 0 / 20%); */
  color: #fff;

  ul {
    width: 250px;
  }
}

nav {
  width:325px;
  

  a{
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 25px;
    background-color: rgb(0 0 0 / 30%);
    color: #fff;
  }

  a:hover {
    background-color: #e03e6f
  }

  /* Light/darkmode Buttons */
  .button {
    height: 35px;
    width: 35px;
    border-radius: 50px;
    margin-left: 5px;
    align-self: center;
    justify-content: center;
    align-items: center;
    line-height: 35px;
    background-color: black;
    cursor: pointer;
    padding-top: 4px;

  }
}

/* Fixed l/dm button */
.button-fixed {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  z-index: 100;
  cursor: pointer;
  
  .fa-solid {
    position: relative;
    font-size: 20px;
    color: white;
  }
}

.button-fixed-fixed {
  inset: auto 20px 20px auto;
  transition: all 0.15s ease-out;
}

.button-sticky-bottom {
  inset: auto 20px 90px auto;
  transition: all 0.25s;
}

.header-wrapper {
  line-height: 50px;
}

.icon {
  height: 30px;
  width: 30px;
  align-self: center;
}

/* ------------------------------------------------ */
/* ------------      HERO BANNER     -------------- */
/* ------------------------------------------------ */

.hero-banner {
  background:
    url(../img/banner-bg.jpeg)
    no-repeat
    fixed;
  background-size: cover;
  clip-path: polygon(100% 100%, 75% 90%, 50% 100%, 25% 90%, 0 100%, 0 0, 100% 0);
}


.banner-content {
  min-height: 120svh;
  color:white;
}

.banner-text {
  width: 40rem;
  height: 30rem;
  padding: 5px;
  text-align: center;
  border-radius: var(--app-border-radius);
  background-image: 
    linear-gradient(to bottom right, 
      rgb(56 63 86 / 70%), 
      rgb(66 74 101 / 70%), 
      rgb(86 97 132 / 70%) 
      );
  box-shadow: 0px 0px 0px .5px rgb(255 255 255 / 50%);
  text-shadow: 1px 1px 1px #000;

  p {
    padding: 10px;
  }
}

.banner-title {
  font-family: Teko;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: .5px;
  padding-top: 5px;
}

.banner-blurb {
  font-size: 24px;
  font-weight: 400;
  width: 350px;
  margin-bottom: 5px;
  letter-spacing: .5px;
}

.intouch-button {
  background-color: #e875ba;
  color: white;
  font-size: 18px;
  font-weight: 600;  
  padding: 10px 20px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.intouch-button:hover {
  background-color: #e03e6f;
}

.divider-color {
  background-color: rgb(78 59 190 / 25%)
}

/* ------------------------------------------------ */
/* ------------      About           -------------- */
/* ------------------------------------------------ */

.img img {
  height: 350px;
}

.img-cat {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.img-food {
  clip-path: circle(43% at 50% 51%);
}

.img-temp .temp {
  height: 250px;
  width: 375px;
}

.section-wrapper {
  background-color: rgb(78 59 190 / 25%);
  clip-path: polygon(100% 100%, 80% 98%, 0% 100%, 0% -0.02%, 100% -0.02%);
}

.about, .experience {

  h3 {
    margin-top: 50px;
    align-self: center;
    margin-bottom: 20px;

    text-transform: uppercase;
    font-family: verdana;
    font-size: 45px;
    font-weight: 700;
    color: #a469a0;
    text-shadow: 1px 1px 1px #783d72,
        1px 2px 1px #783d72,
        1px 3px 1px #783d72,
        1px 4px 1px #783d72,
        1px 5px 1px #783d72,
        1px 6px 1px #783d72,
        1px 7px 1px #783d72,
        1px 8px 1px #783d72,
        1px 9px 1px #783d72,
        1px 10px 1px #783d72,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
  }


.about-box, .exp-box {
  height: 350px;
  margin-bottom: 60px;
  margin-top: 60px;
  filter:drop-shadow(3px 3px 3px rgba(0,0,0,0.8));
}


.brief-bio, .cats, .food, .cooking, .languages {
  font-size: 16px;
  width: 53%;
  color: white;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 50%); 
  letter-spacing: .2px;
  transform: rotate(-3deg);
  translate: 20px;
  clip-path: inset(0 0 0 0 round 20% 5% 20% 5%);
  box-shadow: 1px 18px 6px rgba(16,16,16,0.4);

  p {
    transform: rotate(3deg);
    max-width: calc(100% - 80px);
    margin: 10px;
  }
}

.brief-bio, .languages {
  background-image: 
    linear-gradient(to bottom right, 
    rgb(45 45 99 / 60%),
    rgb(78 59 190 / 60%),
    rgb(131 151 222 / 60%)
      );
}
.cats, .cooking {
  background-image: 
    linear-gradient(to top left, 
    rgb(45 45 99 / 60%),
    rgb(78 59 190 / 60%),
    rgb(131 151 222 / 60%)
      );
  transform: rotate(6deg);
  margin-bottom: -20px;
  translate: -40px;

  p {
    transform: rotate(-6deg);
  }
}

.food {
  background-image: 
    linear-gradient(to left,
    rgb(45 45 99 / 60%),
    rgb(78 59 190 / 60%),
    rgb(131 151 222 / 60%)
      );
}

/* ------------------------------------------------ */
/* ------------      experience          ---------- */
/* ------------------------------------------------ */

.section-wrapper-inner-exp {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  margin-top: 10px;
  text-shadow: none;
  }

  .link a {
    border-bottom: 1px solid transparent;
    transition: border 0.25s ease-in-out;
  }

  .link a:hover{
    border-bottom: 1px solid #000;
  }



.badges {
  width: 70%;
}
/* ------------------------------------------------ */
/* ------------      Footer           ------------- */
/* ------------------------------------------------ */

footer {
  color: #fff;
  height: 70px;
  background-image: 
    linear-gradient(to bottom right, 
      rgb(56 63 86 / 70%), 
      rgb(66 74 101 / 70%), 
      rgb(86 97 132 / 70%) 
      );
  line-height: 70px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
}

.totop {
  font-size: 22px;
  font-weight: 400;
  align-self: center;
  line-height: 50px;

  a {
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border 0.25s ease-in-out;
  }

  a:hover{
    border-bottom: 2px solid #fff;
  }
}

.icons {
  font-size: 30px;
  width: 150px;

  a {
    color: #fff;

  }

  .fa-envelope:hover {
    color: #ff0000;
    filter: contrast(50%);
  }

  .fa-linkedin:hover {
    color: #00f;
    filter: contrast(50%);
  }

  .fa-github:hover {
    color: #000;
    filter: contrast(50%);
  }
}

@media screen and (max-width: 900px) {
  
  .banner-text {
    width: 35rem;
    height: 25rem;

    p{
      padding: 15px;
    }
  }
  
  .banner-title {
    font-size: 28px;
  }

  .banner-blurb {
    font-size: 20px;
  }


  .section-wrapper-inner {
    align-items: center;
    height: 200svh;
    justify-content: space-between;
  }
  .about-box, .exp-box {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .about-box {
    height: 33.333333333%;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .about-box:nth-of-type(1){
    margin-top: 60px;
    height: calc(33.33333% + 100px)
  }

  .about-box:nth-of-type(2) {
    height: calc(33.333333333% - 200px)
  }

  .about-box:nth-last-of-type() {
    margin-bottom: 60px;
    height: calc(33.3333333% - 60px)
  }

  .section-wrapper-inner-exp {
    height: 150svh;
  }


  .exp-box {
    height: 50%;
    margin-bottom: 0;
    margin-top: 0;
  }

  .exp-box:nth-of-type(1) {
    height: calc(50% + 200px);
  }

  .brief-bio, .cats, .food, .cooking, .languages {
    justify-content: space-evenly;
    width: 80%;
    height: 300px;
    translate: 0px;
  }

  footer {
    .icons {
      font-size: 24px;
    }

    .totop {
      font-size: 18px;
    }

    .copyright {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 550px) {
  .hero-banner {
    background-position: 50%;
  }

  .img img {
    height: 250px;
  }

  .img .temp {
    height: 200px;
    width: 325px;
  }

  .brief-bio, .cats, .food, .cooking, .languages {
    height: fit-content;
    font-size: 14px;

    p:nth-child(1) {
      padding-top: 10px;
    }

    p:nth-child(2)  {
      padding-bottom:10px;
    }
  }

  .badges {
    img {
      width: 33.33333%;
    }

    img::nth-of-type(3) {
      width: calc(33.33333% + 15px);
    }
  }

  footer {
    .icons {
      font-size: 20px;
      width: 100px;
    }

    .toptop {
      font-size: 16px;
      text-wrap: nowrap;
    }

    .copyright {
      font-size: 12px;
      font-weight: 200;
      text-wrap: nowrap;
    }

  }
}

@media screen and (max-width: 400px) {
  .about, .experience {
    h3 {
      font-size: 40px;
    }
  }
}